.App {
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.class-div{
  background-color: rgb(89, 49, 89);
  text-align: center;
  /* display: flex; */
  margin: 20px;
  padding: 20px;
  /* width: 100px; */
  /* flex-wrap: wrap; */
  /* flex: auto; */
  font-size: large;
  font-weight: bold;
  /* float: left; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header{
  background-color: rgb(135, 135, 188);
}

a{
  text-decoration: none;
  color: white;
  text-align: center;
}

.details{
  background-color: rgb(71, 115, 71);
  height: 250px;
  /* width: 550px; */
  
}

.each-div{
  margin: 50px;
  font-weight: bold;
  font-size: large;
}
